
.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chartreuse;
    color: black;
    border-top: 2px solid blue;
    width: 100%;
    padding-block: 0.5rem;
}

.footer h2{
    font-size: 1rem;
    font-weight: 500;
}